.services {
    width: 1170px;
    height: 461px;
    margin: 0 auto 100px;
}

.services-list {
    display: flex;
    gap: 30px;
    padding: 0;
}

.services-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.services-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin-bottom: 40px;
}

.services-list-item {
    width: 370px;
    height: 362px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
}

.main-icon {
    fill: #007FFC;
}

.icon-wrapper {
    margin-bottom: 44px;
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-icon {
    width: 38.75px;
    height: 36px;
}

.ecommerce-icon {
    width: 38.49px;
    height: 36px;
}

.application-icon {
    width: 24.05px;
    height: 36px;
}

.services-list-item h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin-bottom: 15px;
}

.services-list-item p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #16133D;
    margin-bottom: 30px;
    width: 275px;
}

.services-list-item button {
    width: 90px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.services-list-item button a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
}

.services-list-item:hover {
    border: 1px solid #3DB370;
}

.services-list-item:hover .main-icon {
    fill: #52C29D;
}